<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Orders Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container my-2 border">
<form action="#" th:action="@{/leave/edit}" th:object="${leaveApplication}" method="post">
    <input name="staff.employeeId" type="hidden" th:value="${session.staff.employeeId}">
    <div class="form-group row">
        <label class="col-sm-2 control-label">begin date</label>
        <div class="col-sm-10">
            <input type="date" th:value="${#dates.format(leaveApplication.leaveStartDate,'yyyy-MM-dd HH')}" class="form-control" name="leaveStartDate"/>
            <span th:if="${#fields.hasErrors('leaveStartDate')}"th:errors="*{leaveStartDate}">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 control-label">end date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="leaveEndDate"  th:value="${#dates.format(leaveApplication.leaveEndDate,'yyyy-MM-dd HH')}">
            <span th:if="${#fields.hasErrors('leaveEndDate')}"th:errors="*{leaveEndDate}">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 control-label">work dissemination</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="workDissemination" th:value="*{workDissemination}"/>
            <span th:if="${#fields.hasErrors('workDissemination')}"th:errors="*{workDissemination}">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 control-label">destination</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="destination" th:field="*{destination}" />
            <span th:if="${#fields.hasErrors('destination')}"th:errors="*{destination}"></span>
        </div>
    </div>


    <div class="form-group row">
        <label  class="col-sm-2 control-label">leave type</label>
        <div class="col-sm-10">
            <select class="form-control" name="leaveType" th:value="*{leaveType}">
                <option th:value="annual">annual</option>
                <option th:value="medical">medical</option>
                <option th:value="compensation">compensation</option>
            </select>
            <span th:if="${#fields.hasErrors('leaveType')}"th:errors="*{leaveType}">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 control-label">leaveReasons</label>
        <div class="col-sm-10">
            <textarea class="form-control" row=3 id="leaveReasons" th:field="*{leaveReasons}">
            </textarea>
            <span th:if="${#fields.hasErrors('leaveReasons')}"th:errors="*{leaveReasons}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10  text-right">
            <button type="submit" class="btn btn-primary">edit</button>
        </div>
    </div>
</form>
</div>
</body>
</html>