<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body>
	<div th:replace="~{fragments/layout.html :: offcanvas_nav}" th:with="parentPage='Staff'"/>
	<main>
		<h1 class="display-5">Leave History</h1>
		<div class="pt-4">
			<a th:href="@{~/staff/leave/overview}">Back to Overview</a>
			
			<div th:if="${#lists.isEmpty(leaveHistory)}">
				<p>You have not taken any leaves.</p>
			</div>
			
			<div th:if="${not #lists.isEmpty(leaveHistory)}">
				<table>
					<tr>
						<th>Leave Type</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					<tr th:each="leave : ${leaveHistory}">
						<td th:text="${leave.leaveType.type}"></td>
						<td>
							<span th:text="${leave.startDate}"></span>
							<span th:text="${leave.startDaySection}"></span>
						</td>
						<td>
							<span th:text="${leave.endDate}"></span>
							<span th:text="${leave.endDaySection}"></span>
						</td>
						<td th:text="${leave.status}"></td>
						<td>
							<a th:href="@{~/staff/leave/details/}+${leave.id}">View</a>
						</td>
					</tr>									
				</table>
			</div>
		</div>
	</main>
</body>
</html>