<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Leaves</title>
</head>
<body>
    <h2>Leaves History</h2>

    <!-- Check if there are pending leaves -->
    <th:block th:if="${#lists.isEmpty(leavesHistory)}">
        <p>There are no records history.</p>
    </th:block>

    <table border="1" th:if="${not #lists.isEmpty(leavesHistory)}">
        <thead>
            <tr>
                <th>Leave ID</th>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over the list of pending leaves -->
            <tr th:each="leave : ${leavesHistory}">
                <td th:text="${leave.leaveId}"></td>
                <td th:text="${leave.staff.employeeName}"></td>
                <td th:text="${leave.leaveType}"></td>
	            <td th:text="${#temporals.format(leave.leaveStartDate, 'yyyy-MM-dd HH:mm')}"></td>
	            <td th:text="${#temporals.format(leave.leaveEndDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${leave.calculateDaysDiff()}"></td>
                <td th:text="${leave.leaveReasons}"></td>
                <td th:text="${leave.leaveApprovalStatus}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>