<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>
<body>
  <div th:replace="fragments/layout.html :: menu"/>
  <div th:replace="fragments/layout.html :: header"/> 
  <h2>Your Course History</h2>
  
  <div th:if="${#lists.isEmpty(lhistory)}">
    <p>You have no leave application. Start applying a new one.</p>
  </div>
  
  <div th:if="${not #lists.isEmpty(lhistory)}">
    <table style=" border: 1;">
      <tr class="listHeading">
        <th><span th:text="#{fieldLabel.leaveId}"></span></th>
        <th><span th:text="#{fieldLabel.employeeId}"></span></th>
        <th><span th:text="#{fieldLabel.leaveType}"></span></th>
        <th><span th:text="#{fieldLabel.startDate}"></span></th>
        <th><span th:text="#{fieldLabel.endDate}"></span></th>
        <th><span th:text="#{fieldLabel.leaveReasons}"></span></th>
        <th><span th:text="#{fieldLabel.leavePhoneNumber}"></span></th>
        <th><span th:text="#{fieldLabel.update}"></span></th>
        <th><span th:text="#{fieldLabel.cancel}"></span></th>
      </tr>
      <tr th:each="leaveApplication : ${lhistory}" class="listRecord">
        <td align="left" th:text="${leaveApplication.leaveId}">Id</td>
        <td align="left" th:text="${leaveApplication.employeeId}">Employee</td>
        <td align="left" th:text="${leaveApplication.leaveType}">LeaveType</td>
        <td align="left" th:text="${#temporals.format(leaveApplication.fromDate, 'yyyy-MM-dd')}">From</td>
        <td align="left" th:text="${#temporals.format(leaveApplication.toDate, 'yyyy-MM-dd')}">To</td>
        <td align="left" th:text="${leaveApplication.leaveReasons}">leaveReasons</td>
        <td align="left" th:text="${leaveApplication.ApprovalStatus}">Status</td>
        <td>
          <div
            th:if="${#strings.equals(leaveApplication.ApprovalStatus, 'SUBMITTED')  or #strings.equals(leaveApplication.ApprovalStatus,'UPDATED')}">
            <a th:href="@{/employee/leaveApplication/edit/}+${leaveApplication.leaveId}">Update</a>
          </div>
        </td>
        <td>
          <div
            th:if="${#strings.equals(leaveApplication.ApprovalStatus, 'SUBMITTED')  or #strings.equals(leaveApplication.LeaveApprovalStatus,'UPDATED')}">
            <a th:href="@{/employee/leaveApplication/cancel/}+${leaveApplication.leaveId}">Cancel</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>