<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body>
	<div th:replace="~{fragments/layout.html :: offcanvas_nav}" />
	<main>
		<h1 class="display-5">Apply for Leave</h1>
		<div class="pt-4">
			<table width="100%" style="background-color: aliceblue;">
				<tr>
					<th>Current Leave Balance</th>
				</tr>
				<tr>
					<td>Annual</td>
					<td>Medical</td>
					<td>Compensation</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
				</tr>
			</table>
		</div>
		<form class="row g-4 pt-4" action="#" th:action="@{'/staff/leave/apply'}" th:object="${leave}" method="post">
			<div class="form-group col-12">
				<label for="leaveType" class="form-label">Leave Type</label>
				<select class="form-select" name="leaveType">
					<option th:each="type : ${leaveTypes}" th:value="${type}" th:text="${type}"></option>
				</select>
			</div>
			<div class="form-group col-md-4 pe-2">
				<label for="startDate" class="form-label">Start Date</label>
				<input type="date" class="form-control" name="startDate" required/>				
			</div>
			<div class="form-group col-md-2">
				<label for="startDaySection" class="form-label">&nbsp;</label>
				<select class="form-select" name="startDaySection">
					<option th:each="daySection : ${T(sg.edu.nus.iss.lms.model.Leave.DaySection).values()}" th:value="${daySection}" th:text="${daySection}"></option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label for="endDate" class="form-label">End Date</label>
				<input type="date" class="form-control" name="endDate" required/>				
			</div>
			<div class="form-group col-md-2">
				<label for="endDaySection" class="form-label">&nbsp;</label>
				<select class="form-select" name="endDaySection">
					<option th:each="daySection : ${T(sg.edu.nus.iss.lms.model.Leave.DaySection).values()}" th:value="${daySection}" th:text="${daySection}"></option>
				</select>
			</div>
			<div class="form-group col-12">
    			<label for="reason" class="form-label">Reason</label>
    			<textarea class="form-control" name="reason" placeholder="State reasons for taking leave" required></textarea>
  			</div>
  			<div class="form-group col-12">
    			<label for="dissemination" class="form-label">Work Dissemination (if Any)</label>
    			<textarea class="form-control" name="dissemination" placeholder="State work dissemination details (e.g. outstanding tasks)"></textarea>
  			</div>
  			<div class="form-group col-12">
    			<label for="contact" class="form-label">Personal Contact Details (if Overseas)</label>
    			<textarea class="form-control" name="contact" placeholder="State contact details (e.g. overseas phone number, overseas address)"></textarea>
  			</div>
  			<button class="btn btn-primary" type="submit">Submit Form</button>
		</form>
	</main>
</body>
</html>