<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
<br/>
<h2 style="text-align: center;">Search Result</h2>
<h3 style="text-align: center;" th:if="${#lists.isEmpty(leaveApplications)}">No Results.</h3>
<table th:if="${not #lists.isEmpty(leaveApplications)}" style="width:50%; margin-left: auto; margin-right: auto;">
  <tr th:each="leave:${leaveApplications}">
    <td th:text="${leave.leaveAplId}">Id</td>
	<td th:text="${leave.leaveType}">Type</td>
	 <td th:text="${leave.leaveStartDate}">StartDate </td>
	  <td th:text="${leave.leaveEndDate}">EndDate </td>
	 <td th:text="${leave.leaveType}">Type</td>
	 <td th:text="${leave.leaveReasons}">Type</td>
    <td><a th:text="${leave.leavePhoneNumber}">Phone</a></td>
	<td th:text="${leave.destination}">Destination</td>
    <td th:text="${leave.leaveApprovalStatus}">Status</td>
    <td th:text="${leave.comment}">Comment</td>
</tr>
</table>
</body>
</div>
</html>