<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>
<body>
  <div th:replace="fragments/layout.html :: menu"/>
  <div th:replace="fragments/layout.html :: header"/> 
    <h3>Edit Leave Application Page</h3>
  <form action="#" th:action="@{/employee/leaveApplication/edit/}+${leaveApplication.leaveId}"
    th:object="${leaveApplication}" method="post">
    <table>
      <tbody>
        <tr>
          <td><input type="hidden" th:field="*{leaveId}" /> <input
            type="hidden" th:field="*{employeeId}" /> <input type="hidden"
            th:field="*{LeaveApprovalStatus}" /> <span th:text="#{fieldLabel.leaveType}"></span></td>
          <td><input type="text" th:field="*{leaveType}" size="40" /></td>
          <td th:if="${#fields.hasErrors('leaveType')}"
            th:errors="*{leaveType}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.employeeId}"></span></td>
          <td><input type="text" th:field="*{employeeId}" size="40" /></td>
          <td th:if="${#fields.hasErrors('employeeId')}"
            th:errors="*{employeeId}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.startDate}"></span></td>
          <td><input type="date" th:field="*{fromDate}" size="40" /></td>
          <td th:if="${#fields.hasErrors('fromDate')}"
            th:errors="*{fromDate}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.endDate}"></span></td>
          <td><input type="date" th:field="*{toDate}" size="40" /></td>
          <td th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.leaveReasons}"></span></td>
          <td><input type="text" th:field="*{leaveReasons}" size="20" /></td>
          <td><span th:text="#{fieldLabel.leaveReasons}"></span></td>
          <td><input type="checkbox" th:field="*{leaveReasons}" /></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.workDissemination}"></span></td>
          <td colspan="3"><textarea th:field="*{workDissemination}"
              th:rows="${workDissemination}" cols="40"></textarea></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.leavePhoneNumber}"></span></td>
          <td colspan="3"><textarea th:field="*{leavePhoneNumber}"
              th:rows="${leavePhoneNumber}" cols="40"></textarea></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.ApprovalStatus}"></span></td>
          <td><input type="text" th:field="*{ApprovalStatus}" size="20"
            disabled="disabled" /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Update" class="blcass" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</body>
</html>